#container{
    width: 1000px;
    margin: 0 auto;
}
div{
    border:1px solid gray;
    padding:20px;
}
#header{
    margin-bottom: 20px;
}
#content{
    width:700px;
    float:left;
}
#sidebar{
    width:200px;
    float:right;
    margin-bottom: 20px;
    background-color: gold;
}
#footer{
    clear: both;
}